<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                BJP! The RSS reader
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/news">Get All News</a></li>
            <li><a href="/add">Add an RSS</a></li>
        </ul>

    </div>
</nav>
