<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404!</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>

<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>404</h1>
            <p>You look like you might be Luke Skywalker. You are lost my friend!</p>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</html>
