<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tech Shit
                <small>All the "Tech Stuff" in one page!</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Project One -->
    <div class="row">
        <div class="col-md-5">
            <a href="#">
                <img class="img-responsive" src="http://timesofindia.indiatimes.com/photo/54345770.cms" />
            </a>
        </div>
        <div class="col-md-5">
            <h3>Apple slashes prices of iPhone 6s and iPhone 6s Plus by up to Rs 22,000</h3>
            <h4>Times Of India</h4>
            <p>
                The iPhone 7 Plus 32GB, 128GB and 256GB will cost Rs 72,000, Rs 82,000 and Rs 92,000 respectively
            </p>
            <a class="btn btn-primary" href="http://timesofindia.indiatimes.com/tech/tech-news/Apple-iPhone-7-iPhone-7-Plus-price-details-revealed-goes-up-to-Rs-92000/articleshow/54345770.cms">More <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-5">
            <a href="#">
                <img alt="" class="img-responsive" src="https://cdn0.vox-cdn.com/thumbor/FIGpo-oq0gmTXpTRrxxfE6OETAg=/0x0:5472x3648/1310x873/cdn0.vox-cdn.com/uploads/chorus_image/image/51092611/DSC01581__1_.0.0.jpg" />
            </a>
        </div>
        <div class="col-md-5">
            <h3>Facebook, Google, and Microsoft team up to pacify fears about AI</h3>
            <h4>Google - The Verge</h4>
            <p>

            </p>
            <!-- </div> -->
            <a class="btn btn-primary" href="http://timesofindia.indiatimes.com/tech/tech-news/Apple-iPhone-7-iPhone-7-Plus-price-details-revealed-goes-up-to-Rs-92000/articleshow/54345770.cms">More <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-5">
            <a href="#">
                <img alt="" class="img-responsive" src="https://cdn0.vox-cdn.com/thumbor/14YnvtZZiWveX9sKspKe4hICBsE=/24x0:1374x900/1310x873/cdn0.vox-cdn.com/uploads/chorus_image/image/51101859/939-Aerial_River.0.0.jpg" />
            </a>
        </div>
        <div class="col-md-5">
            <h3>Apple is moving its UK headquarters to London's iconic Battersea power station</h3>
            <h4>Apple - The Verge</h4>
            <p>
                Apple is moving its UK headquarters to Battersea power station — an iconic building in South West London in the middle of a $10 billion regeneration project. The iPhone-maker will be moving into the former boiler house in what was previously
                a functioning coal-fired power station, decommissioned in 1983. A Malaysian consortium of companies is currently renovating the massive building into a range of offices, shops, and luxury flats.
            </p>
            <p>
                The decision has been greeted with enthusiasm by the UK government, as a vote of confidence in London after the political and economic fallout of Brexit. The deal is the largest letting of office space in the area for 20 years, with Apple
                due to take up some 500,000 square feet spread over six floors —...
            </p>
            <a class="btn btn-primary" href="http://www.theverge.com/2016/9/29/13103702/apple-uk-hq-london-battersea-power-station">More <span class="glyphicon glyphicon-chevron-right"></span></a>
            <!-- </div> -->
        </div>
    </div>
    <!-- /.row -->

    <hr>

</div>
<!-- /.container -->
